
{{ 'brand-section.css' | asset_url | stylesheet_tag }}
<div class="brand-section">
  <h1>{{ section.settings.brand-section-heading }}</h1>
  <div class="brand-section-container">
     {%- for block in section.blocks -%}
        <div class="brand"> 
            {{ block.settings.brand-section-image | image_url: width: 200 | image_tag }}
        </div>
     {%- endfor -%}
   </div>
 </div>
{% schema %}
{
  "name":"brand-section",
  "settings":[
   {
     "type":"inline_richtext",
     "id":"brand-section-heading",
     "label":"Heading"
   }
  ],
  "blocks": [
   {
     "type": "brand",
     "name": "Brand",
     "settings": [
       {
         "type": "image_picker",
         "id": "brand-section-image",
         "label": "Brand Logo"
       }
     ]
    }
  ],
  "presets": [
      {
        "name": "brand-section"
      }
    ]
}
{% endschema %}