{{ 'custom-section.css' | asset_url | stylesheet_tag }}
<div class="section-container">
    {%- for block in section.blocks -%}
            <div class="container-element">
                <div>
                    {{ block.settings.custom-section-image | image_url: width: 180, height: 180 | image_tag }}
                </div>
                <p>
                    {{ block.settings.custom-section-text }}
                </p>
            </div>
    {%- endfor -%}
</div>
{% schema %}
{
    "name":"custom-section",
    "blocks": [
        {
          "type": "image",
          "name": "Image",
          "settings": [
            {
              "type": "image_picker",
              "id": "custom-section-image",
              "label": "Image"
            },
            {
                "type": "text",
                "id": "custom-section-text",
                "label": "Image Text"
            }
          ]
        }
    ],
    "presets": [
            {
              "name": "custom-section"
            }
        ]
    }
{% endschema %}