<script src="{{ 'custom-banner.js' | asset_url }}" defer="defer"></script>
{{ 'custom-banner.css' | asset_url | stylesheet_tag }}
<div class="slider-container">
    <div class="slider">
        {%- for block in section.blocks -%}
            {%- case block.type -%}  
              {%- when 'image'-%}
                <div class="slide">
                    {{ block.settings.custom-banner-image | image_url: width: 1400, height: 768 | image_tag }}
                </div>
            {%- endcase -%}
        {%- endfor -%}
    </div>
    <div class="slider-nav">
      <button id="prevBtn">-</button>
      <button id="nextBtn">+</button>
    </div>
</div>
{% schema %}
{
  "name":"custom-banner",
  "blocks": [
   {
     "type": "image",
     "name": "Banner Image",
     "settings": [
       {
         "type": "image_picker",
         "id": "custom-banner-image",
         "label": "Banner Image"
       }
     ]
   }
  ],
  "presets": [
   {
     "name": "custom-banner"
   }
  ]
}
{% endschema %}