{{ 'sponser-section.css' | asset_url | stylesheet_tag }}
<div class="sponser-section-container">
    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%- when 'heading'-%}
            <h1> 
                {{ block.settings.sponser-section-heading }}
            </h1>
            {%- when 'logo'-%}
            <div> 
                {{ block.settings.sponser-section-logo | image_url: width: 200, height: 200 | image_tag }}
            </div>
        {%- endcase -%}
    {%- endfor -%}
</div>
{% schema %}
{
    "name":"sponser-section",
    "blocks": [
        {
            "type": "heading",
            "name": "Heading",
            "limit": 1,
            "settings": [
              {
                "type": "text",
                "id": "sponser-section-heading",
                "label": "Heading"
              }
            ]
        },
        {
          "type": "logo",
          "name": "Logo",
          "settings": [
            {
              "type": "image_picker",
              "id": "sponser-section-logo",
              "label": "Logo"
            }
          ]
        }
    ],
    "presets": [
            {
              "name": "sponser-section"
            }
        ]
    }
{% endschema %}