.slider{
    margin:0 auto;
    width:1400px;
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slider-container {
    width: 100%;
    height:600px;
    overflow: hidden;
    position: relative;
}
  .slider-nav {
    display: flex;
    justify-content: space-around;
    padding-left: 3px;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50%;
  }
.slide img{
    width:100%;
}
  .slider-nav button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
.slick-dots{
    top:70%;
}
.slick-dots li button::before{
    font-size:10px;
    color:white;
}