.product-collection-container{
    display:grid;
    grid: repeat(2,1fr)/repeat(3,1fr);
    margin:0 auto;
    width:1400px;
}
.product-collection{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-collection div{
    display:flex;
    align-items: flex-end;
}
.quick-add__submit{
    width:100px;
}
.quick-add__submit:before{
    box-shadow:none;
}
.quick-add__submit:after{
    box-shadow:none;
}
.quick-add__submit span{
    width:50px;
    height:50px;
}
.quick-add__submit:hover {
    box-shadow:none !important; 
}
.quick-add__submit:after:hover {
    box-shadow:none !important;
}
.quick-add__submit span svg{
    width:50px;
    height:50px;
    border:1px solid black;
    border-radius: 50%;
    padding:10px;
}
.product-popup-modal__content-info{
    display:flex;
}
.product-popup-modal__content-info img{
    width:553px;
    height:550px;
}
/* .icon-wrap{
    display:none;
} */

.product-collection__button{
    width:50px;
    height:50px;
    border:1px solid black;
    border-radius: 50%;
    padding:10px;
    background: white;
    cursor: pointer;
    float: right;
    margin-right: 50px;
    position:absolute;
    bottom: 100px;
    right: 0;
    display: none;
    left:320px;
}

.card-wrapper:hover .product-collection__button{
    display: block;
}
.product-collection_title{
     font-family: BlackDragon !important;
     font-size:60px;
     font-weight:500;
     text-align: center;
}
.card__inner, .card__content{
    width:80%;
}
.card__heading{
    text-align:center;
}
.card__heading a{
    font-family:GT-Haptik;
    font-size:17px;
    font-weight: 700;
}
@media (max-width:1440px){
    .product-collection-container{
        width:100%;
    }
}
@media(max-width:989px){
    .product-collection-container{
        display:grid;
        grid: repeat(3,1fr)/repeat(2,1fr);
    }

}
@media (max-width:750px){
    .product-collection a img{
        width: 85%;
        height: 85%;
    }
}
